footer {
    width: 100%;
    background-color: var(--blue);
    color: var(--white);
    text-align: center;
    padding: 1.5rem;
    box-shadow: inset 0px 0px 4px 0px rgba(0,0,0,0.5);

}

footer p{
  color: var(--blue);  
  font-size: 1rem;
  font-weight: 300;
}